header{

    background-color: #FFBD78;
    text-align: center;
    padding: 10px;
}
nav{
    background-color: #FFDB58;
    text-align: center;
    padding: 5px;
}

nav a{

    text-decoration: none;
    color: white;
    margin-right: 10px;

}

nav a:hover{
    background-color:black ;
}  

#actividades {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #actividades p {
    font-size: 16px;
    color: #333;
  }
  
  #actividades b {
    color: black ; 
  }

  #descripcion{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  #imagenes{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  }
  
  #precio {
    background-color: #f0f8e7;
    padding: 15px;
    border: 2px solid #28a745;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #precio p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
  }

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  
  button:hover {
    background-color: #218838;
  }
  footer{
    background-color: #FFBD78;
    text-align: center;
    padding: 10px;
  }


